[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.selectL {
    width: 100%;
    height: 100%;

background-color: #c9e5ff;
}
.selectB {
    width: 100%;
    height: 100%;

    background-color: #DDEEFF;
}
.selectD {
    width: 100%;
    height: 100%;

    background-color: #212A34;
}
