.tech {
    position: absolute;
    width: 71px;
    height: 24px;
    left: 487px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #000000;
}

.developer {
    position: absolute;
    width: 101px;
    height: 24px;
    left: 30px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #000000;
}

.techHeader {
    position: absolute;
    width: 71px;
    height: 24px;
    left: 487px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #000000;
    /*width: 50vw;*/
}

.developerHeader {
    position: absolute;
    width: 101px;
    height: 24px;
    left: 30px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #000000;
}

.row {
    position: absolute;
    width: 364px;
    height: 24px;
    left: 87px;
    top: 308px;
}

.rowHeader {
    position: absolute;
    width: 606px;
    height: 36px;
    left: 70px;
    top: 260px;

    background: #E5E5E5;
    display: flex;
}

.loading {

}